@use 'src/styles/mixins' as m;

.helpContainer {
  position: relative;
}

.helpBtn {
  padding: 0;
  width: 18px;
  height: 18px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  &:hover, &.active {
    opacity: 1;
  }
}

.helpContent {
  @include m.widget;
  @include m.smallText;
  position: absolute;
  top: calc(100% + 16px);
  flex-direction: column;
  width: 300px;

  section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #7f7f7f;
    margin-bottom: 8px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    & > *:not(.title) {
      padding: 10px;
    }
  }
}

.title {
  @include m.smallTitle;
}

.hotkeysList {
  display: flex;
  flex-direction: column;

  > * {
    display: flex;
    justify-content: space-between;

  }
  .key {
    color: #7f7f7f;
    font-weight: 600;
  }
}

.groups {
  list-style: circle;
}

.attention {
  color: #ff8b43;
}