@use 'src/styles/mixins' as m;

.helpContainer {
  position: relative;
}

.helpBtn {
  padding: 0;
  width: 18px;
  height: 18px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  &:hover, &.active {
    opacity: 1;
  }
}

.helpContent {
  @include m.widget;
  @include m.smallText;
  position: absolute;
  top: calc(100% + 16px);
  flex-direction: column;
  width: 300px;
}

.hotkeys {
  display: flex;
  flex-direction: column;
}

.title {
  @include m.smallTitle;
}

.hotkeysList {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;

  > * {
    display: flex;
    justify-content: space-between;

  }
  .key {
    color: #7f7f7f;
    font-weight: 600;
  }
}

.separator {
  background: #7f7f7f;
  min-width: 100%;
  min-height: 1px;
  margin: 4px 0;
}