@use "styles/mixins.scss" as m;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  position: relative;
}

.textField {
  flex-grow: 1;
  textarea {
    height: 100%;
  }
}

.words {
  flex-grow: 1;
  //padding: 8px 32px;
}

.word {
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: -2px;
      top: -2px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      box-shadow: 0px 0px 3px 1px #7f7f7f;
      border-radius: 4px;
    }
  }
}

.translationPopup {
  @include m.shadow;
  display: flex;
  flex-direction: row;
  position: absolute;
  background: white;
  padding: 0 8px;
  border-radius: 8px;
  cursor: pointer;
}