@use "styles/mixins.scss" as m;

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  position: relative;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    p {
      color: #1f1f1f;
    }
  }
}

.textField {
  flex-grow: 1;
  textarea {
    line-height: 32px;
    font-size: 24px;
    height: 100%;
  }
}

.words {
  line-height: 32px;
  font-size: 24px;
  flex-grow: 1;
  background: white;
  border-radius: 12px;
  padding: 12px 16px;
  border: 1px solid #bfc5ca;
  white-space: pre-wrap;
  letter-spacing: -0.3px;
  //padding: 8px 32px;
}

.word {
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: -2px;
      top: -2px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      box-shadow: 0px 0px 3px 1px #7f7f7f;
      border-radius: 4px;
    }
  }
}

.translationPopup {
  @include m.shadow;
  display: flex;
  flex-direction: row;
  position: absolute;
  background: white;
  padding: 0 8px;
  border-radius: 8px;
  cursor: pointer;
}