@use 'src/styles/mixins.scss' as m;
@use 'src/styles/constants.scss' as c;

.gameCardContainer {
  position: relative;
  @include m.widget;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  cursor: pointer;
  padding: 16px;
  //background: rgba(209, 233, 255, 0.7);
  background: rgba(255, 255, 255, 0.5);

  &:hover {
    background: rgba(209, 233, 255, 1);
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.title {
  height: fit-content;
  color: c.$primary-color;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.disabled {
  opacity: 0.5;
}