@use "styles/constants.scss" as c;

.middleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
}

.unitList {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.unit {
  $bg-color: rgba(59, 98, 224, 0.9);
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
  background: $bg-color;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(64, 91, 104, 1);
  box-sizing: border-box;

  &:hover {
    background: rgb(50, 81, 189);

  }
  &.correctAnswer {
    background: #10bf6a;
  }
  &.incorrectAnswer {
    background: #E04D3B;
  }
  &.hasAnswer {
    cursor: default;
    pointer-events: none;
  }
}

.index {
  font-size: 16px;
  opacity: 0.5;
}

.unitToStudy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 600;
  padding: 32px;

  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 320px;
  }

  img {
    border-radius: 8px;
    max-width: 320px;
    max-height: 320px;
  }
}

.navigationContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  font-weight: 600;
  line-height: 20px;
  font-size: 18px;

  > * {
    position: absolute;
    background: c.$primary-color;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: white;

    &:not(.prevArrow) {
      right: 0;
      top: 0;
    }

    &.prevArrow {
      top: 0;
      left: 0;
    }
  }
}

.score {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  opacity: 0.7;
  color: #616e7c;
  border-bottom: 1px solid #616e7c;
}

.wordfallContainer {
  justify-content: flex-end;
  padding-bottom: 60px;
  overflow: hidden;

  > * {
    z-index: 2;
  }
  .fallingWord {
    line-height: 48px;
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    top: 0;
    z-index: 1;
    transform: translate(-50%, -100%);
    animation: fall linear forwards;
  }
}

@keyframes fall {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}