.mainPanelContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  z-index: 2;
}

.switch {
  transform: scale(0.75);
}