@use 'styles/mixins.scss' as m;

.gameContainer {
  @include m.widget;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  gap: 30px;
  background: transparent;
  box-shadow: unset;
  flex-grow: 1;

  > div {
    display: flex;
    width: 100%;
  }
}