@use "styles/mixins.scss" as m;

.translationPopup {
  @include m.shadow;
  display: flex;
  flex-direction: row;
  position: absolute;
  background: white;
  padding: 0 8px;
  border-radius: 8px;
  cursor: pointer;
}