@mixin textEllipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin shadow {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  //box-shadow: 0px 0px 4px 1px rgba(174, 191, 204, 0.8);
}

@mixin widget {
  @include shadow;
  display: flex;
  border-radius: 8px;
  padding: 8px;
  background: rgba(255, 255, 255);
  box-sizing: border-box;
  height: fit-content;
}

@mixin placeholder {
  font-size: 16px;
  line-height: 22px;
  color: rgba(128, 128, 128, 0.35);
}

@mixin smallTitle {
  line-height: 18px;
  font-size: 16px;
  font-weight: bold;
}

@mixin commonText {
  font-size: 16px;
  line-height: 18px;
}

@mixin smallText {
  font-size: 12px;
  line-height: 14px;
}