.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  position: relative;
}

.textField {
  flex-grow: 1;
  textarea {
    display: inline-block;
    line-height: 32px;
    font-size: 24px;
    height: 100%;
  }
}
