.editableLabelWrapper {
  position: relative;

  &.editable .editableLabelContainer {
    outline: 1px solid #006fff;
  }

  &:not(&.editable) {
    cursor: pointer;
  }
}

.editableLabelContainer {
  input, textarea {
    padding: 0px;
    background: none !important;
    border: none !important;
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    &::placeholder {
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }
  }
}
