.editableLabelWrapper {
  position: relative;

  &.editable .editableLabelContainer {
    outline: 1px solid #006fff;
  }

  &:not(&.editable) {
    cursor: pointer;
  }
}

.editableLabelContainer {
  input, textarea {
    padding: 0 4px;
    background: none !important;
    border: none !important;
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    &::placeholder {
      font-size: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }
  }
  border: 1px solid #ffffffff;
}

.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}