@use "styles/mixins.scss" as m;

.translationUnitCardContainer {
  @include m.commonText;
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  display: inline-flex;
  word-break: break-all;
  font-size: 1em;
  line-height: 1.25em;
  letter-spacing: -0.3px;
}

.lang {
  @include m.subAsideText;
  display: flex;
  flex-grow: 1;
  padding: 0 2px;
  flex-shrink: 0;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;

  img {
    border-radius: 8px;
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}