@use "styles/mixins.scss" as m;
@use "styles/constants.scss" as c;

.translateContainer {
  @include m.widget;
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: initial;

  > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.translation {
  @include m.textEllipsis;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  padding: 2px;
  border-bottom: 1px solid c.$primary-color;
  font-weight: 600;
}

.transLangContainer {
  display: flex;
  flex-direction: row;
  margin-right: 2px;
  align-items: center;
}

.transLang {
  color: c.$primary-color;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  cursor: pointer;
  width: 32px;
  box-sizing: border-box;
  text-align: center;
  input {
    text-align: center;
  }
}

.placeholder {
  position: relative;
  @include m.placeholder;
  text-align: center;
}

.addField {
  input:last-of-type {
    &, &::placeholder {
      font-size: 12px;
    }
    padding: 8px 10px;
  }
}

.swap {
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin-top: 2px;
  padding: 2px;
  border-radius: 8px;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}